---
layout: default
---

<div id="header" class="row text-center">
  <div class="col-sm-6 col-sm-offset-3" style="padding:40px 0;">
    {% image logo.png alt="HanaHaus Logo" %}
  </div>

  <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
    <p class="lead">
      A community of purpose defining a new cafe experience where createive 
      individuals and entrepreneurs can come together to meet, socialize, 
      share ideas and connect with experts.
    </p>
    <p class="lead">Join us</p>
  </div>

  <div class="col-sm-6 col-sm-offset-3">
    <a href="#work"><i class="fa fa-2x fa-square" style="color:#ECD270; margin:15px 0;"></i></a>
  </div>

  <div class="col-sm-6 col-sm-offset-3">
    <a href="#learn"><i class="fa fa-2x fa-play fa-rotate-270" style="color: #DE5B3F; margin:15px 0;"></i></a>
  </div>

  <div class="col-sm-6 col-sm-offset-3">
    <a href="#play"><i class="fa fa-2x fa-circle" style="color: #69CCE5; margin:15px 0;"></i></a>
  </div>

  <div class="col-sm-6 col-sm-offset-3">
    <a href="#work"><i class="fa fa-2x fa-arrow-circle-o-down" style="margin:15px 0 30px;"></i></a>
  </div>  
</div>

<!-- WORK -->
<div id="work" class="row text-center">
  <div class="col-sm-12 hidden-xs">
    <div class="row">
      <div class="col-sm-5">
        <div style="padding:30px 0;">
          <h1>WORK</h1>
          <i class="fa fa-3x fa-square" style="color:#ECD270; margin:15px 0;"></i>
          <p>Enjoy the best work and collaboration environment.</p>
          <a href="" class="btn btn-link" role="button">Reserve</a>
        </div>
      </div>
      <div class="img col-sm-7 pull-right"></div>
    </div>
  </div>

  <div class="col-sm-12 visible-xs">
    <div class="row">
      <div class="col-sm-12">
        <div style="padding:30px 0;">
          <h1>WORK</h1>
          <i class="fa fa-3x fa-square" style="color:#ECD270; margin:15px 0;"></i>
          <p>Enjoy the best work and collaboration environment.</p>
          <a href="" class="btn btn-link" role="button">Reserve</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- LEARN -->
<div id="learn" class="row text-center">
  <div class="col-sm-12 hidden-xs">
    <div class="row">
      <div class="img col-sm-7"></div>
      <div class="col-sm-5 pull-right">
        <div style="padding:30px 0;">
          <h1>LEARN</h1>
          <i class="fa fa-3x fa-play fa-rotate-270" style="color: #DE5B3F; margin:15px 0;"></i>
          <p>Gain knowledge, skills and sozialize at HanaHaus events.</p>
          <a href="" class="btn btn-link" role="button">Events</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 visible-xs">
    <div class="row">
      <div class="col-sm-12">
        <div style="padding:30px 0;">
          <h1>LEARN</h1>
          <i class="fa fa-3x fa-play fa-rotate-270" style="color: #DE5B3F; margin:15px 0;"></i>
          <p>Gain knowledge, skills and sozialize at HanaHaus events.</p>
          <a href="" class="btn btn-link" role="button">Events</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PLAY -->
<div id="play" class="row text-center">
  <div class="col-sm-12 hidden-xs">
    <div class="row">
      <div class="col-sm-5">
        <div style="padding:30px 0;">
          <h1>PLAY</h1>
          <i class="fa fa-3x fa-circle" style="color: #69CCE5; margin:15px 0;"></i>
          <p>There are plenty of fun things to do at HanaHaus.</p>
          <a href="" class="btn btn-link" role="button">Menu</a>
        </div>
      </div>
      <div class="img col-sm-7 pull-right"></div>
    </div>
  </div>

  <div class="col-sm-12 visible-xs">
    <div class="row">
      <div class="col-sm-12">
        <div style="padding:30px 0;">
          <h1>PLAY</h1>
          <i class="fa fa-3x fa-circle" style="color: #69CCE5; margin:15px 0;"></i>
          <p>There are plenty of fun things to do at HanaHaus.</p>
          <a href="" class="btn btn-link" role="button">Menu</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" role="tabpanel" style="background:#f2f2f2">
 <div class="col-sm-12">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active" style="width:25%">
        <a href="#about" aria-controls="about" role="tab" data-toggle="tab">About Us</a>
      </li>
      <li role="presentation" style="width:25%">
        <a href="#partners" aria-controls="partners" role="tab" data-toggle="tab">Partners</a>
      </li>
      <li role="presentation" style="width:25%">
        <a href="#social" aria-controls="social" role="tab" data-toggle="tab">Social Media</a>
      </li>
      <li role="presentation" style="width:25%">
        <a href="#find" aria-controls="find" role="tab" data-toggle="tab">Find Us</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active fade in" id="about">
        {% include about.html %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="partners">
        {% include partners.html %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="social">
        {% include social.html %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="find">
        {% include find.html %}
      </div>
    </div>

  </div>
</div>

<div id="footer" class="row text-center">
 <div class="col-sm-12">
  Copyright &copy; {{ site.time | date: '%Y' }} HanaHaus. All rights reserved.
 </div>
</div>
