<div class="row">
  <div class="col-sm-8">
    <embed
      frameborder="0" style="border:0; width: 100%; height:300px;"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDdanEV1GmSdVXktUVtuiQdGhlVWF2GEa0&q=New+Varsity+Theater,456+University+Ave,+Palo+Alto,+CA+94301">
    </embed>
  </div>

  <div class="col-sm-4" style="padding-top:30px; padding-bottom:30px;">
    <div class="row">
      <div class="col-sm-12">
        {% image map.png class="pull-left" %}
        <p style="margin-left:50px;">
          New Varsity Theatre<br />
          456 University Ave.<br />
          Palo Alto<br />
          CA - 94301
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        {% image parking.png class="pull-left" %} <p style="margin-left:50px; padding-top:6px;">Parking</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        {% image phone.png class="pull-left" %} <p style="margin-left:50px; padding-top:6px;">650 999 9999</p>
      </div>
    </div>
  </div>
</div>
