<div class="row" style="background:#E9E7DE">
  <div class="col-sm-5 col-sm-offset-1">
    <p style="margin-top:30px;">
        We have amazing partners that currently work with us and we're always happy to 
        discuss ways in which we can grow the community.
    </p>
    <p>
        Our Technology Desk, dubbed Techiatto, provides a space for technology platform 
        companies to evangelize and support entrepreneurs looking to grow.
    </p>
    <p style="margin-bottom:30px;">
      In addition, we offer a large 8000 sq. ft. "theatersque" space available to rent 
      for your next event.
    </p>
  </div>
</div>