<div class="row text-center" style="background:#E9E7DE">
  <div class="col-sm-2 col-sm-offset-2">
    <a class="social" target="_blank" href="http://www.twitter.com/HanaHaus">
      <i class="fa fa-5x fa-twitter"></i><br />
      <span>@hanahaus</span>
    </a>
  </div>

  <div class="col-sm-2">
    <a class="social" target="_blank" href="https://instagram.com/hanahausbayarea">
      <i class="fa fa-5x fa-instagram"></i><br />
      <span>instagram</span>
    </a>
  </div>

  <div class="col-sm-2">
    <a class="social" target="_blank" href="https://www.facebook.com/hanahaus">
      <i class="fa fa-5x fa-facebook"></i><br />
      <span>hanahaus</span>
    </a>
  </div>

  <div class="col-sm-2">
    <a class="social" target="_blank" href="http://www.yelp.com/biz/hanahaus-palo-alto">
      <i class="fa fa-5x fa-yelp"></i><br />
      <span>yelp</span>
    </a>
  </div>
</div>